requests
openai>1.0.0
anthropic
colorlog~=6.6.0
aiocqhttp
qq-botpy-rc
nakuru-project-idk
Pillow
tiktoken
PyYaml
aiohttp
pydantic<2.0
websockets
urllib3
psutil
async-lru
ollama
quart
sqlalchemy[asyncio]
aiosqlite
quart-cors
aiofiles
aioshutil