requests
openai>1.0.0
anthropic
colorlog~=6.6.0
aiocqhttp
qq-botpy
nakuru-project-idk
Pillow
tiktoken
PyYaml
aiohttp
pydantic
websockets
urllib3
psutil
async-lru
ollama
quart
sqlalchemy[asyncio]
aiosqlite